@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

* {
    font-family: "Heebo", sans-serif;
    color: #333;
}

.fore-dark {
    color: #538235;
}

.fore-light {
    color: #B0DA96;
}

body {
    margin: 0;
    padding: 15px 20px;
    background-color: #EEE;
}

input {
    padding: 10px 15px;
    width: 200px;
    border-radius: 3px;
    box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, .2);
    border: 2px solid #FFF;
    outline: none;
    transition: box-shadow .3s;
    font-size: 1em;
}

input:focus {
    box-shadow: 0px 0px 2px 2px #B0DA96;
}

a.button {
    border-radius: 1000px;
    font-size: 1em;
    width: 150px;
    padding: 10px 25px;
    text-decoration: none;
    box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, .2);
    margin: 0 3px;
    display: inline-block;
    font-size: 1em;
    text-align: center;
}

a.button-fill {
    color: #FFF;
    border: 2px solid #B0DA96;
    background-color: #B0DA96;
}

a.button-outline {
    color: #B0DA96;
    border: 2px solid #B0DA96;
    background-color: #FFF;
}

div.notification {
    padding: 15px 20px;
    margin: 15px 0;
    border-radius: 2px;
    background-color: #DDD;
    color: black;
    width: 400px;
}

table th, table td {
    padding: 10px 15px;
}

table th {
    text-align: left;
}

table th, table td {
    width: 140px;
}

div.flex {
    display: flex;
}

div.column {
    margin: 0 15px;
}

section {
    padding: 7.5px 0;
    display: block;
}