@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

* {
    font-family: "Heebo", sans-serif;
    color: #333;
}

body {
    margin: 0;
    padding: 15px 20px;
    background-color: #EEE;
}

.input {
    padding: 10px 15px;
    width: 200px;
    border-radius: 3px;
    box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, .2);
    border: 2px solid #FFF;
    outline: none;
    transition: box-shadow .3s;
    font-size: 1em;
}

.input:focus {
    box-shadow: 0px 0px 2px 2px #B0DA96;
}

a.button {
    border-radius: 1000px;
    font-size: 1em;
    width: 150px;
    padding: 10px 25px;
    text-decoration: none;
    box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, .2);
    margin: 0 3px;
    display: inline-block;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
}

a.button-fill {
    color: #FFF;
    border: 2px solid rgb(89, 156, 42);
    background-color: rgb(89, 156, 42);
}

a.button-fill:hover {
    border-color: rgb(78, 141, 33);
    background-color: rgb(78, 141, 33);
}

a.button-outline {
    color: rgb(89, 156, 42);
    border: 2px solid rgb(89, 156, 42);
    background-color: #FFF;
}

a.button-outline:hover {
    border-color: rgb(78, 141, 33);
}

table th, table td {
    padding: 10px 15px;
}

table th {
    text-align: left;
}

table th, table td {
    width: 140px;
}

div.flex {
    display: flex;
}

div.column {
    margin: 0 15px;
}

section {
    padding: 7.5px 0;
    display: block;
}

form-group {
    display: block;
}

/* Notification Banner CSS */
div.notification {
    padding: 20px 30px;
    outline-offset: -1px;
    box-shadow: 0px 6px 6px -6px rgba(0, 0, 0, .3);
    max-width: 500px;
    display: block;
    color: white;
    border-radius: 5px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    opacity: 0;
    transition: opacity .3s;
}

div.notification[dark] {
    background-color: 5px solid #444;
}

div.notification[light] {
    background-color: 5px solid #DDD;
    color: #222;
}

div.notification[good] {
    background-color: rgb(89, 156, 42);
}

div.notification[bad] {
    background-color: 5px solid rgb(222, 164, 2);
}

div.notification[really-bad] {
    background-color: 5px solid rgb(201, 81, 48);
}
/*   */